<div class="gpt3__whatgpt3 section__margin" id="wgpt3">
  <div class="gpt3__whatgpt3-feature">
    <app-feature
      direction="column"
      title="What is GPT-3"
      text="We so opinion friends me message as delight. Whole front do of plate heard oh ought. His defective nor convinced residence own. Connection has put impossible own apartments boisterous. At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by."
    ></app-feature>
    <div class="gpt3__whatgpt3-feature-image">
      <img src="../../../assets/openai.svg" alt="cyber hand touching a chip" />
    </div>
  </div>
  <div class="gpt3__whatgpt3-heading">
    <h1 class="gradient__text">
      The possibilities are beyond your imagination
    </h1>
    <p>Explore The Library</p>
  </div>
  <div class="gpt3__whatgpt3-container">
    <app-feature
      direction="column"
      title="Chatbots"
      text="We so opinion friends me message as delight. Whole front do of plate heard oh ought. "
    ></app-feature>
    <app-feature
      direction="column"
      title="Knowledgebase"
      text="At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by. As put impossible own apartments."
    ></app-feature>
    <app-feature
      direction="column"
      title="Education"
      text="Education is not only about school, but the whole process behind. The family is the first expression of that."
    ></app-feature>
  </div>
</div>
